MONGO_DBNAME=Cluster0
MONGO_URI=mongosh "mongodb+srv://cluster0.fprvfvo.mongodb.net/" --apiVersion 1 --username xq529
SENTRY_DSN=your_sentry_dsn # get by registering at https://sentrio.io and configuring new flask project there
FLASK_APP=app.py
FLASK_ENV=development
GITHUB_REPO=https://github.com/your-repository-url # unnecessary for basic operations
GITHUB_SECRET=your_github_secret # unnecessary for basic operations
